.mission{
    padding: 80px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9FE;
}

.container{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.title{
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
}

.description{
    margin-left: auto;
    color: #000;
    font-size: 12px;
    line-height: 1;
    width: 290px;
}

.list{
    display: flex;
    gap: 20px;
}

.list_item{
    position: relative;
}

.list_item_image{
    border-radius: 10px;
    background: lightgray 50%;
}

.list_item_title{
    position: absolute;
    bottom: 65px;
    left: 20px;

    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4
}

.location_1{
    position: absolute;
    bottom: 20px;
    left: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
}

.location_2{
    position: absolute;
    bottom: 20px;
    left: 20px;

    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(5px);
}

.location_icon{
    fill: #000;
}

.location_name{
    color: #000;
    font-size: 12px;
    line-height: 1;
}

.list_item_icon{
    position: absolute;
    top: 20px;
    right: 20px;

    fill: #fff;
}